*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6,ul,li,p{margin: 0;padding: 0;}
li{list-style: none; float: left;}
a{text-decoration: none}

.row{
    margin: 0px;
    padding: 0px;

}

@font-face{
    font-family: Lato-Bold;
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face{
    font-family: Lato-Light;
    src: url("../fonts/Lato-Light.ttf") format("truetype");
}

@font-face{
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face{
    font-family: Lato-Italic;
    src: url("../fonts/Lato-Italic.ttf") format("truetype");
}

.bold{font-family: Lato-Bold;}
.light{font-family: Lato-Light;}
.regular{font-family: Lato-Regular;}
.italic{font-family: Lato-Italic;}
.white{color: white}

body{background: #EE8D77;}

.container-max{
    max-width: 1024px;
    margin-top: 0px;
}

.header-top{
    background: #F8F9FA;
}

/* ket thuc CSS header-top */
/* chuyen sang CSS header-title */
.header-title{
    padding: 30px 0px;
    background: #ffffff;
    text-align: center;
}

.title p{
    font-size: 18px;
    padding: 0px 0px;
    color: #8b8b8b;
}


/* Slideshow khong can CSS */
/* chuyen sang CSS Avatar */

#portfolio{
    background: #ffffff;
    text-align: center;
    padding: 30px 0px;
}

.portfolio-title{
    padding-bottom: 30px;
}

.text-center{
    padding-bottom: 15px;
}

.title-port span{
    font-size: 35px;
    padding: 20px 0px;
}

.title-port p{
    font-size: 18px;
    padding: 0px 0px;
}

.icon{
    padding: 15px 0px;
    text-align: center;
}

/* ket thuc CSS portfolio */
/* chuyen sang CSS about us */

.interest-title{
    font-size: 20px;
    padding: 20px 0px;
    color: #4b4b4b;
}

.interest-btn{
    padding-right: 10px;
}


html,body{
    height: 100%;
}
.container{
   height: 100%;
   align-content: center;
}

.image_outer_container{
   margin-top: auto;
   margin-bottom: auto;
   border-radius: 50%;
   position: relative;
}

.image_inner_container{
   border-radius: 50%;
   padding: 5px;
background: #833ab4; 
background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   border: 5px solid white;
}

.image_outer_container .green_icon{
 background-color: #4cd137;
 position: absolute;
 right: 0px;
 bottom: 0px;
 height: 20px;
 width: 20px;
 border:5px solid white;
 border-radius: 50%;
}
/* ket thuc CSS about us */
/* bat dau CSS contact us */

#contact{
    background: #ecf0f1;
    padding: 50px 0px;
}

.contact-title{
    text-align: center;
    padding-bottom: 50px
}

.title-co span{
    font-size: 35px;
    padding: 10px 0px;
}

.title-co p{
    font-size: 18px;
    padding: 0px 0px;
}

.form-left{
    padding: 0px 40px;
}

.form-left input{
    width: 40%;
    float: left;
    margin-bottom: 20px;
}

.form-email{
    margin-left: 20%;
}

.form-left textarea{
    margin-bottom: 20px;
}

.form-left button{
    float: right;
}

.form-right{
    padding: 0px;
}

.form-right p{
    line-height: 28px;
}

/* ket thuc CSS contact us */
/* ket thuc Footer */
.footer{
    background: #2d3e50;
    padding: 20px 0px;
}

.footer-left{
    font-size: 14px;
    color: #ffffff;
}

.footer-left p{
    line-height: 45px;
}

.footer-right a{
    background: #2d3e50;
    color: #ffffff;
    float: right;
    padding: 0px;
    text-decoration: none;
}

.footer-right a:hover{
    color: #000000;
}

/* ket thuc CSS footer */




