<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>


    <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="../static/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                <b>MY PROFILE</b> 
            </a>
    </nav>

    
    <div class="text-center">
            <img src="../static/images/logo.test.jpg" width="182" height="192" class="rounded-circle" alt="...">
            <button class="btn btn-primary" type="submit">Edit</button>

    </div>


    <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Interests</span>
            </div>
            <input type="text" class="form-control" placeholder="Football/Tennis/..." aria-label="Football/Tennis/..." aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Location</span>
            </div>
            <input type="text" class="form-control" placeholder="City/Street" aria-label="City/Street" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Bank</span>
            </div>
            <input type="text" class="form-control" placeholder="Vietcombank/BIDV..." aria-label="Vietcombank/BIDV..." aria-describedby="basic-addon1">
    </div>

    <div class="h-100 bg-blue">
        <div>
            <span>2019 D4B. All rights reserved.</span>
        </div>
    </div>


    <div>

    </div>


    <div>

    </div>

</body>
</html>