<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 1</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    
</head>
<body>
    <div class="container container-max">
        <header>
            <div class="row header-top">
                <!-- <div class="col-md-9 logo">
                    <h1><a href="#"><img src="img/logo.png" width="177.8" height="70.3"/></a></h1>
                </div>  -->
                <!-- end logo -->

                <!-- <nav class="col-md-3 header-menu">
                    <ul>
                        <li>
                            <a href="#">SIGN UP</a>
                        </li>

                        <li><a href="#">LOGIN</a></li>
                    </ul>
                </nav>  -->
                <!-- #end header-menu -->
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a href="/"><img src="../static/icon/logo.png" height="50"/></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Log in</a>
                            </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div> 
            <!-- end header-top -->
        </header>

        <section>
            <div id="portfolio">
                <div class="row portfolio-title">
                    <div class="title-port col-md-12">
                        <span class="bold">Services</span>
                        <p class="regular">Your demands, Our services</p>
                    </div>                      
                </div>
                <!-- end row title -->
                
                <form method="POST">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Your Name</label>
                            <input  class="form-control" id="inputEmail4" placeholder="{{user.name}}" name="name">
                          </div>
                          <div class="form-group col-md-4">
                            <label>Birthday</label>
                            <input type="date" class="form-control" name="birth" max="1998-01-02">
                        </div>
                          <div class="form_group col-md-2">
                            <label>Gender</label> <br>
                            <div >
                            <input type="radio" name="gender" value="male" checked> Nam
                            <input type="radio" name="gender" value="female" checked> Nữ
                            </div>
                        </div>
                        </div>
                        <br>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="inputEmail4">Your Email</label>
                            <input  class="form-control" id="inputEmail4" placeholder="{{user.em}}" name="email">
                          </div>
                          <div class="form-group col-md-4">
                            <label>Your Number</label>
                            <input  class="form-control" name="phone" placeholder="{{user.phone}}">
                        </div>
                          <div class="form_group col-md-4">
                            <label>Your Facebook</label> <br>
                            <div >
                            <input  class="form-control" name="facebook" placeholder="{{user.fb}}">
                            </div>
                        </div>
                        </div>
                        <br>
                        <div class="form-row">
                          <div class="form_group col-md-2">
                            <label>Address</label>
                            <select name= "city" class="form-control" >
                                    <option value="An Giang">An Giang
                                    <option value="Bà Rịa - Vũng Tàu">Bà Rịa-Vũng Tàu
                                    <option value="Bắc Giang">Bắc Giang
                                    <option value="Bắc Kạn">Bắc Kạn
                                    <option value="Bạc Liêu">Bạc Liêu
                                    <option value="Bắc Ninh">Bắc Ninh
                                    <option value="Bến Tre">Bến Tre
                                    <option value="Bình Định">Bình Định
                                    <option value="Bình Dương">Bình Dương
                                    <option value="Bình Phước">Bình Phước
                                    <option value="Bình Thuận">Bình Thuận
                                    <option value="Bình Thuận">Bình Thuận
                                    <option value="Cà Mau">Cà Mau
                                    <option value="Cao Bằng">Cao Bằng
                                    <option value="Đắk Lắk">Đắk Lắk
                                    <option value="Đắk Nông">Đắk Nông
                                    <option value="Điện Biên">Điện Biên
                                    <option value="Đồng Nai">Đồng Nai
                                    <option value="Đồng Tháp">Đồng Tháp
                                    <option value="Đồng Tháp">Đồng Tháp
                                    <option value="Gia Lai">Gia Lai
                                    <option value="Hà Giang">Hà Giang
                                    <option value="Hà Nam">Hà Nam
                                    <option value="Hà Tĩnh">Hà Tĩnh
                                    <option value="Hải Dương">Hải Dương
                                    <option value="Hậu Giang">Hậu Giang
                                    <option value="Hòa Bình">Hòa Bình
                                    <option value="Hưng Yên">Hưng Yên
                                    <option value="Khánh Hòa">Khánh Hòa
                                    <option value="Kiên Giang">Kiên Giang
                                    <option value="Kon Tum">Kon Tum
                                    <option value="Lai Châu">Lai Châu
                                    <option value="Lâm Đồng">Lâm Đồng
                                    <option value="Lạng Sơn">Lạng Sơn
                                    <option value="Lào Cai">Lào Cai
                                    <option value="Long An">Long An
                                    <option value="Nam Định">Nam Định
                                    <option value="Nghệ An">Nghệ An
                                    <option value="Ninh Bình">Ninh Bình
                                    <option value="Ninh Thuận">Ninh Thuận
                                    <option value="Phú Thọ">Phú Thọ
                                    <option value="Quảng Bình">Quảng Bình
                                    <option value="Quảng Bình">Quảng Bình
                                    <option value="Quảng Ngãi">Quảng Ngãi
                                    <option value="Quảng Ninh">Quảng Ninh
                                    <option value="Quảng Trị">Quảng Trị
                                    <option value="Sóc Trăng">Sóc Trăng
                                    <option value="Sơn La">Sơn La
                                    <option value="Tây Ninh">Tây Ninh
                                    <option value="Thái Bình">Thái Bình
                                    <option value="Thái Nguyên">Thái Nguyên
                                    <option value="Thanh Hóa">Thanh Hóa
                                    <option value="Thừa Thiên Huế">Thừa Thiên Huế
                                    <option value="Tiền Giang">Tiền Giang
                                    <option value="Trà Vinh">Trà Vinh
                                    <option value="Tuyên Quang">Tuyên Quang
                                    <option value="Vĩnh Long">Vĩnh Long
                                    <option value="Vĩnh Phúc">Vĩnh Phúc
                                    <option value="Yên Bái">Yên Bái
                                    <option value="Phú Yên">Phú Yên
                                    <option value="Tp.Cần Thơ">Cần Thơ
                                    <option value="Tp.Đà Nẵng">Đà Nẵng
                                    <option value="Tp.Hải Phòng">Hải Phòng
                                    <option value="Tp.Hà Nội">Hà Nội
                                    <option value="TP  HCM">TP HCM
                                    </select>
                        </div>
                          <div class="form-group col-md-7">
                            <label>Description</label>
                            <input  class="form-control" name="description" placeholder="{{user.description}}">
                        </div>
                          <div class="form_group col-md-3">
                            <label>Your Avatar</label> <br>
                            <div >
                            <input  class="form-control" name="avatar" placeholder="{{user.img}}">
                            </div>
                        </div>
                        </div>
                        <br>
                        <div class="form-row">
                          <div class="form-group col-md-2">
                            <label for="inputEmail4">Sport</label>
                            <input  class="form-control" id="inputEmail4" placeholder="{{user.sport}}" name="sport">
                          </div>
                          <div class="form-group col-md-2">
                            <label>Music</label>
                            <input  class="form-control" name="music" placeholder="{{user.music}}">
                        </div>
                          <div class="form_group col-md-2">
                            <label>Book</label> <br>
                            <input  class="form-control" name="book" placeholder="{{user.book}}">
                        </div>
                        <div class="form_group col-md-2">
                        <label for="inputEmail4">Movie</label>
                        <input  class="form-control" id="inputEmail4" placeholder="{{user.movie}}" name="movie">
                      </div>
                      <div class="form-group col-md-2">
                        <label>Food</label>
                        <input  class="form-control" name="food" placeholder="{{user.food}}">
                    </div>
                      <div class="form_group col-md-2">
                        <label>Drink</label> <br>
                        <input  class="form-control" name="drink" placeholder="{{user.drink}}">
                    </div>
                        </div>
                        <br>
                        <div class="form-group ">
                          <button type="submit" class="btn btn-primary ">Confirm</button>
                          <br>
                        </div>
                      </div>
                        <!-- <div class="form-group">
                          <label for="inputAddress">Address</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                          <label for="inputAddress2">Address 2</label>
                          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                              <option selected>Choose...</option>
                              <option>...</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Check me out
                            </label>
                          </div>
                        </div> -->

                      </form>

        

            </div>


        </section>

        <footer>
            <div class="row footer">
                <div class="col-xs-12 col-sm-6 footer-left">
                    <p class="regular">© Copyright 2019 UBGroup</p>
                </div>
                <div class="col-xs-12 col-sm-6 footer-right">
                    <a href="#"><img src="static/img/facebook.png" width="30" height="30"></a>
                    <!-- <a href="#header" class="glyphicon glyphicon-chevron-up"></a> -->
                </div>
            </div>
        </footer>
    </div>
</body>
</html>